
# Ignore virtual environment, systems and  Python cache files
venv/
.env
*.env
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
*.DS_Store
Thumbs.db


# ---Jupyter notebooks checkpoints
.ipynb_checkpoints/

#Ignore raw data files only
data/raw/

# OS / IDE Specific
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Keep processed data
!data/processed/.gitkeep

# Database files
*.db
*.sqlite
*.duckdb

# -------------------------
# Logs & Reports
# -------------------------
*.log
*.out
*.tmp