
# Ignore virtual environment, systems and  Python cache files
venv/
.env
*.env
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/



# ---Jupyter notebooks checkpoints
.ipynb_checkpoints/

#Ignore raw data files only

*.db
*.sqlite
*.duckdb
*.parquet
*.csv
*.tsv
*.json
data/raw/*
!data/.gitkeep
data/processed/*
!data/processed/.gitkeep

# OS / IDE Specific
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Logs & Reports

*.log
*.out
*.tmp