
# Ignore virtual environment, systems and  Python cache files
venv/
.env
__pycache__/
*.pyc
*.pyo
*.DS_Store
Thumbs.db


# ---Jupyter notebooks checkpoints
.ipynb_checkpoints/

#Ignore raw data files only
data/raw/

# Keep processed data
!data/processed/